{% extends "base.html" %}
{% block t %}
<title> Online Compiler</title>
{% endblock %}


{% block heading %}
<h1>Java Online Compiler</h1>
{% endblock %}

{% block css %}
<style>
    #java_input {
        width: 98%;
        height: 100px;
        margin-top: 10px;
        padding: 10px;
        font-family: monospace;
    }
</style>
{% endblock %}


{% block content %}
<form method="POST" action="/java">
    {% csrf_token %}
    <br>
    <label for="java_code">Write your code:</label>
    <textarea id="java_code" name="java_code" placeholder="Write your code here...">{{ java_code|default:'' }}</textarea>
    <br>
    <label for="java_input">Provide Input:</label>
    <textarea id="java_input" name="java_input" placeholder="Enter input for your code...">{{ java_input_data|default:'' }} </textarea>
    <br>
    <button type="submit">Run Code</button>
</form>
{% if java_output %}
<div class="output">
    <h3>Output:</h3>
    <pre>{{ java_output }}</pre>
</div>
{% endif %}
<!-- CodeMirror JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/clike/clike.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/javascript/javascript.min.js"></script>

<script>
    
    const codeEditor = CodeMirror.fromTextArea(document.getElementById("java_code"), {
        mode: "text/x-java", 
        theme: "dracula",
        lineNumbers: true,
        indentUnit: 4,
        tabSize: 4,
        
    });
    codeEditor.setSize(null, "410px");
    
    document.querySelector("form").addEventListener("submit", () => {
        document.getElementById("java_code").value = codeEditor.getValue();
    });
</script>
{% endblock %}