{% extends "base.html" %}
{% block t %}
<title> Online Compiler</title>
{% endblock %}

{% block heading %}
<h1>C++ Online Compiler</h1>
{% endblock %}

{% block css %}
<style>
    #cpp_input {
        width: 98%;
        height: 100px;
        margin-top: 10px;
        padding: 10px;
        font-family: monospace;
    }
</style>
{% endblock %}

{% block content %}
<form method="POST" action="/cpp">
    {% csrf_token %}
    <br>
    <label for="cpp_code">Write your code:</label>
    <textarea id="cpp_code" name="cpp_code" placeholder="Write your code here...">{{ cpp_code|default:'' }}</textarea>
    <br>
    <label for="cpp_input">Provide Input:</label>
    <textarea id="cpp_input" name="cpp_input" placeholder="Enter input for your code...">{{ cpp_input_data|default:'' }} </textarea>
    <br>
    <button type="submit">Run Code</button>
</form>
{% if cpp_output %}
<div class="output">
    <h3>Output:</h3>
    <pre>{{ cpp_output }}</pre>
</div>
{% endif %}
<!-- CodeMirror JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/clike/clike.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/javascript/javascript.min.js"></script>

<script>
    
    const codeEditor = CodeMirror.fromTextArea(document.getElementById("cpp_code"), {
        mode: "text/x-c++src",
        theme: "dracula",
        lineNumbers: true,
        indentUnit: 4,
        tabSize: 4,
        
    });
    codeEditor.setSize(null, "410px");
    
    document.querySelector("form").addEventListener("submit", (event) => {
        document.getElementById("cpp_code").value = codeEditor.getValue();
    });
</script>
{% endblock %}